In [1]:
import pImpactR as impact
import numpy as np
import matplotlib.pyplot as plt
MLI = impact.MLI
mli = impact.data.dictClass()
pip = impact.data.dictClass()

In [2]:
# mass = impact.util.Me
# q = 1
# g0 = 133.537
# b0 = np.sqrt((g0+1.0)*(g0-1.0))/g0
# bg0 = g0*b0
# brho = bg0*mass/impact.util.cLight
# energy = mass*g0

mass = 0.000511005*1.0e9
energy = 1.0e8 + mass
q = -1.0

In [3]:
mli.beam = MLI.getElem.beam(mass=mass*1.0e-9,charge=q,energy=energy*1.0e-9)
mli.elemList = MLI.getElem.elemList(mli.beam)
mli.d1= MLI.getElem.drift(name='d1',l=0.4)
mli.d2= MLI.getElem.drift(name='d2',l=0.12)
mli.q1= MLI.getElem.quadrupole(name='q1',l=0.01,k1=10.0)
mli.q2= MLI.getElem.quadrupole(name='q2',l=0.01,k1=-10.0)
mli.b1= MLI.getElem.sbend(name='b1',l=0.81,angle=1.0,fint=0.5,hgap=0.058)
mli.b2= MLI.getElem.sbend(name='b2',l=0.45,angle=0.5,fint=0.5,hgap=0.058)
mli.elemList = mli.elemList + [mli.d1,mli.d2,mli.q1,mli.q2,mli.b1,mli.b2]
mli.ptm = MLI.getElem.ptm()
mli.elemList.append(mli.ptm)
mli.lineList = [MLI.getElem.line(elemList=[mli.d2,mli.b1,mli.d1,mli.q1,mli.d1,mli.b2,mli.d2])]
mli.labor = [mli.lineList[0].name,mli.ptm.name]
MLI.writeInputfile(mli.elemList,mli.lineList,mli.labor)
MLI.run()
M,G=MLI.readTransferMap()
M

          1         2         3         4    5         6
1 -0.813055  1.025149  0.000000  0.000000  0.0 -1.415203
2 -0.759160 -0.272734  0.000000  0.000000  0.0 -0.609270
3  0.000000  0.000000  1.500833  2.681028  0.0  0.000000
4  0.000000  0.000000  0.492290  1.545704  0.0  0.000000
5  0.578995  1.010567  0.000000  0.000000  1.0 -0.723183
6  0.000000  0.000000  0.000000  0.000000  0.0  1.000000

In [4]:
!cat mli.in
!rm mli.out

#menu

beam: beam, energy=0.100511005, mass=0.0005110050000000001, charge=1.0
units: units, type=static
setdefaults: globaldefaults, lfrngsbend=1, tfrngsbend=1, lfrngquad=0, tfrngquad=0, driftexact=0
d1: drift, l=0.4
d2: drift, l=0.12
q1: quadrupole, l=0.01, k1=10.0
q2: quadrupole, l=0.01, k1=-10.0
b1: sbend, l=0.81, angle=1.0, hgap=0.058, fint=0.5
b2: sbend, l=0.45, angle=0.5, hgap=0.058, fint=0.5
ptm: ptm, matrix=3, poly=3

lattice, line=( d2 b1 d1 q1 d1 &
b2 d2 )
#labor
lattice
ptm

In [5]:
pip.beam = impact.mli2impact.beam(mli.elemList)
pip.lattice = impact.mli2impact.lattice(mli.elemList,mli.lineList[0])
impact.getTransferMap(pip.beam,pip.lattice,epsilon=[1.0e-9]*6)

           0          1             2             3    4             5
0  -0.813055   1.025149 -1.446826e-09 -2.263943e-09  0.0  1.408026e-08
1  -0.759160  -0.272734 -5.188962e-10 -7.276069e-10  0.0  6.061800e-09
2   0.000000   0.000000  1.500833e+00  2.681028e+00  0.0  0.000000e+00
3   0.000000   0.000000  4.922901e-01  1.545704e+00  0.0  0.000000e+00
4  20.858265  36.405587  1.680410e-08  2.532062e-08  1.0  2.592166e-07
5   0.000000   0.000000  0.000000e+00  0.000000e+00  0.0  1.000000e+00

In [6]:
!cat test.in
!rm fort.*

!================= Beam & Control Parameters =================
1 1
6 6 1 0 1
32 32 32 1 0.014 0.014 0.1
23 0 0 1
6
0.0
1.95692801440299e-06
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.0 100000000.0 511005.0000000001 1.0 30000000.0 0.0
!========================== Lattice ==========================
0.0 0 0 -16 0.0 1 /
0.12 3 1 0 1.0 /
0.81 17 1 4 1.0 0.0 150 0.058 0.0 0.0 0.0 0.0 0.5 /
0.4 8 1 0 1.0 /
0.01 1 1 1 10.0 0 1.0 0.0 0.0 0.0 0.0 0.0 /
0.4 8 1 0 1.0 /
0.45 9 1 4 0.5 0.0 150 0.058 0.0 0.0 0.0 0.0 0.5 /
0.12 3 1 0 1.0 /
0.0 0 5926 -2 2 1 1 /

In [7]:
elemList,lattice=impact.impact2mli(pip.beam,pip.lattice)

In [8]:
elemList.append(mli.ptm)
mli.labor[0]=lattice.name
MLI.writeInputfile(elemList,[lattice],mli.labor)
MLI.run()
M,G=MLI.readTransferMap()
M

          1         2         3         4    5         6
1 -0.813055  1.025149  0.000000  0.000000  0.0 -1.415203
2 -0.759160 -0.272734  0.000000  0.000000  0.0 -0.609270
3  0.000000  0.000000  1.500833  2.681028  0.0  0.000000
4  0.000000  0.000000  0.492290  1.545704  0.0  0.000000
5  0.578995  1.010567  0.000000  0.000000  1.0 -0.723183
6  0.000000  0.000000  0.000000  0.000000  0.0  1.000000

In [9]:
!cat mli.in
!rm mli.out

#menu

beam: beam, ekinetic=0.1, mass=0.0005110050000000001, charge=1.0
units: units, type=static
setdefaults: globaldefaults, lfrngsbend=1, tfrngsbend=1, lfrngquad=0, tfrngquad=0, driftexact=1
drift1: drift, l=0.12
dipole1: sbend, l=0.81, angle=1.0, hgap=0.058, fint=0.5
drift2: drift, l=0.4
quad1: quadrupole, l=0.01, k1=10.0
drift3: drift, l=0.4
dipole2: sbend, l=0.45, angle=0.5, hgap=0.058, fint=0.5
drift4: drift, l=0.12
ptm: ptm, matrix=3, poly=3

impactLattice, line=( drift1 dipole1 drift2 quad1 drift3 &
dipole2 drift4 )
#labor
impactLattice
ptm